ACCEPT_EULA=yes
MACHINE_ROLE=CLIENT
CLIENT_NAME={{ ansible_hostname }}
INSTALL_PATH=/usr
SERVICES=yes
SERVER=cam-nbu-master.svlab.com
MEDIA_SERVER=cam-nbu-media
AUTHORIZATION_TOKEN=GNUDQCBLSPDKTUDF
CA_CERTIFICATE_FINGERPRINT=65:F9:D8:FE:4F:84:7C:BC:5C:48:4D:F6:ED:23:1C:4A:F5:F6:76:17:94:95:40:EC:42:A6:93:C9:7B:08:5E:5C
INCLUDE_JAVA_GUI_AND_JRE=EXCLUDE
